<div class="card flex justify-content-center">
  <p-button icon="pi pi-eye" styleClass="p-button-rounded p-button-help" (click)="showCampaigns()"></p-button>
  <p-dialog [(visible)]="showDialog" [style]="{width: '950px'}" header="{{'CAMPAIGN.DONORS' | translate}}" [modal]="true" styleClass="p-fluid">





    <ng-template pTemplate="body">
      <table class="donor-table">
        <thead>
        <tr>
          <th>{{ 'DONOR.FIRSTN' | translate }}</th>
          <th>{{ 'DONOR.LASTN' | translate }}</th>
          <th>{{ 'DONOR.ADDITIONALN' | translate }}</th>
          <th>{{ 'DONOR.MAIDENN' | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let donor of donors">
          <td (click)="toggleFullText(donor, donor.firstName)">{{ getDisplayText(donor.firstName) }}</td>
          <td (click)="toggleFullText(donor, donor.lastName)">{{ getDisplayText(donor.lastName) }}</td>
          <td (click)="toggleFullText(donor, donor.additionalName)">{{ getDisplayText(donor.additionalName) }}</td>
          <td (click)="toggleFullText(donor, donor.maidenName)">{{ getDisplayText(donor.maidenName) }}</td>
        </tr>
        </tbody>
      </table>
    </ng-template>
  </p-dialog>
</div>
