<p-table [value]="roles" [tableStyle]="{'min-width': '70rem'}">
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Id</th>
      <th>{{'ROLES.NAME' | translate}}</th>
      <th>{{'PERMISSIONS.GET' | translate}}</th>
      <th>{{'PERMISSIONS.AVAILABLE' | translate}}</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-role>
    <tr>
      <td>{{role.id}}</td>
      <td>{{role.name}}</td>
      <td>
        <ng-container [ngSwitch]="role.id">
          <ng-container *ngSwitchCase="1">
            <ul>
              <li *ngFor="let permission of p1">
                <!--{{ JSON.stringify(getTypeFromPermission(permission))}}-->
                <!--{{JSON.stringify(permission)}}-->
                {{permission}}
                <!--{{permission.type}}-->
              </li>
            </ul>
          </ng-container>
          <ng-container *ngSwitchCase="2">
            <ul>
              <li *ngFor="let permission of p2">
                {{permission}}
              </li>
            </ul>
          </ng-container>
          <ng-container *ngSwitchCase="3">
            <ul>
              <li *ngFor="let permission of p3">
                {{permission}}
              </li>
            </ul>
          </ng-container>
          <ng-container *ngSwitchCase="4">
            <ul>
              <li *ngFor="let permission of p4">
                {{permission}}
              </li>
            </ul>
          </ng-container>
        </ng-container>
      </td>
      <td class="center">
        <ng-container [ngSwitch]="role.id">
          <ng-container *ngSwitchCase="1">
            <select [(ngModel)]="selectedPermission1" class="spaced-select custom-select">
              <option *ngFor="let permission of permissions" [value]="permission">{{ permission }}</option>
            </select>

            <p-toast></p-toast>
            <button pTooltip="{{'PERMISSIONS.ADD' | translate}}" [showDelay]="500" tooltipPosition="bottom"
              pButton pRipple icon="pi pi-plus" class="p-button-rounded p-button-success p-mr-2"
                    (click)="addPermissionToRole(loggedUserId,role.id,selectedPermission1,'!')"></button>
            &nbsp; <!-- Non-breaking space for adding a gap -->
            <button pTooltip="{{'PERMISSIONS.DELETE' | translate}}" [showDelay]="500" tooltipPosition="bottom"
              pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                    (click)="deletePermissionFromRole(loggedUserId,role.id,selectedPermission1, '!')"></button>

          </ng-container>
          <ng-container *ngSwitchCase="2">
            <select [(ngModel)]="selectedPermission2" class="spaced-select custom-select">
              <option *ngFor="let permission of permissions" [value]="permission">{{ permission }}</option>
            </select>

            <p-toast></p-toast>
            <button pTooltip="{{'PERMISSIONS.ADD' | translate}}" [showDelay]="500" tooltipPosition="bottom"
              pButton pRipple icon="pi pi-plus" class="p-button-rounded p-button-success p-mr-2"
                    (click)="addPermissionToRole(loggedUserId,role.id,selectedPermission2,'!')"></button>
            &nbsp; <!-- Non-breaking space for adding a gap -->
            <button pTooltip="{{'PERMISSIONS.DELETE' | translate}}" [showDelay]="500" tooltipPosition="bottom"
              pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                    (click)="deletePermissionFromRole(loggedUserId,role.id,selectedPermission2,'!')"></button>

          </ng-container>
          <ng-container *ngSwitchCase="3">
            <select [(ngModel)]="selectedPermission3" class="spaced-select custom-select">
              <option *ngFor="let permission of permissions" [value]="permission">{{ permission }}</option>
            </select>

            <p-toast></p-toast>
            <button pTooltip="{{'PERMISSIONS.ADD' | translate}}" [showDelay]="500" tooltipPosition="bottom"
              pButton pRipple icon="pi pi-plus" class="p-button-rounded p-button-success p-mr-2"
                    (click)="addPermissionToRole(loggedUserId,role.id,selectedPermission3,'!')"></button>
            &nbsp; <!-- Non-breaking space for adding a gap -->
            <button pTooltip="{{'PERMISSIONS.DELETE' | translate}}" [showDelay]="500" tooltipPosition="bottom"
              pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                    (click)="deletePermissionFromRole(loggedUserId,role.id,selectedPermission3,'!')"></button>

          </ng-container>
          <ng-container *ngSwitchCase="4">
            <select [(ngModel)]="selectedPermission4" class="spaced-select custom-select">
              <option *ngFor="let permission of permissions" [value]="permission">{{ permission }}</option>
            </select>

            <p-toast></p-toast>
            <button pTooltip="{{'PERMISSIONS.ADD' | translate}}" [showDelay]="500" tooltipPosition="bottom"
              pButton pRipple icon="pi pi-plus" class="p-button-rounded p-button-success p-mr-2"
                    (click)="addPermissionToRole(loggedUserId,role.id,selectedPermission4,'!')"></button>
            &nbsp; <!-- Non-breaking space for adding a gap -->
            <button pTooltip="{{'PERMISSIONS.DELETE' | translate}}" [showDelay]="500" tooltipPosition="bottom"
              pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                    (click)="deletePermissionFromRole(loggedUserId,role.id,selectedPermission4,'!')"></button>

          </ng-container>
        </ng-container>
      </td>
    </tr>
  </ng-template>
</p-table>
