<div class="card flex justify-content-center">
  <p-button icon="pi pi-eye" styleClass="p-button-rounded p-button-help" (click)="showCampaigns()"></p-button>

  <p-dialog [(visible)]="showDialog" [style]="{width: '1550px'}" header="{{'CAMPAIGN.DONATIONS' | translate}}" [modal]="true" styleClass="p-fluid">



    <ng-template pTemplate="body">
      <table class="donation-table">
        <thead>
        <tr>
          <th> {{'DONATION.AMOUNT' | translate}}</th>
          <th >{{'DONATION.APPROVEDATE' | translate}}</th>
          <th >{{'DONATION.APPROVED' | translate}}</th>
          <th >{{'DONATION.CREATEDDATE' | translate}}</th>
          <th >{{'DONATION.CURRENCY' | translate}}</th>
          <th >{{'DONATION.NOTES' | translate}}</th>
          <th >{{'DONATION.APPROVEDBY' | translate}}</th>
          <th >{{'DONATION.CREATEDBY' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let donation of donations">
          <td>{{ donation.amount }}</td>
          <td>{{ donation.approveDate }}</td>
          <td>{{ donation.approved }}</td>
          <td>{{ donation.createdDate }}</td>
          <td>{{ donation.currency }}</td>
          <td>{{ donation.notes }}</td>
          <td>{{ donation.approvedBy?.username }}</td>
          <td>{{ donation.createdBy?.username }}</td>
        </tr>
        </tbody>
      </table>
    </ng-template>
  </p-dialog>
</div>
