<div class="card flex justify-content-center">
  <p-button icon="pi pi-eye" styleClass="p-button-rounded p-button-help" (click)="showCampaigns()"></p-button>
  <p-dialog [(visible)]="showDialog" [draggable]="false" [style]="{width: '450px'}" header="{{'USER.CAMPAIGNS' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
      <div>
        <ul *ngFor="let campaign of campaigns">
          <li>{{campaign.name}}</li>
        </ul>
      </div>
    </ng-template>
  </p-dialog>
</div>
