<p-toast></p-toast>

<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left" class="space">
      <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText #textInput type="text" (input)="dt.filterGlobal(textInput.value, 'contains')" placeholder="{{'CAMPAIGN.SEARCH' | translate}}..." />
      </span>
      &nbsp;
      <button pTooltip="{{'DONATION.NEW' | translate}}" [showDelay]="500"  tooltipPosition="bottom" pButton pRipple icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()" ></button>
      &nbsp;
<!--      <button pTooltip="{{'DONATION.DELETE' | translate}}" [showDelay]="500"  tooltipPosition="bottom" pButton pRipple [label]="delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedDonations()" [disabled]="!selectedDonations || !selectedDonations.length"></button>-->
<!--      &nbsp;-->
      <button pTooltip="{{'DONATION.EXPORT' | translate}}" [showDelay]="500"  tooltipPosition="bottom" pTooltip="Export to CSV" pButton pRipple icon="pi pi-download" (click)="exportViewToXLSX()"></button>
    </ng-template>
  </p-toolbar>

  <p-table #dt [value]="donationList" [rows]="10" [paginator]="true" [globalFilterFields]="['approvedBy.username', 'createdBy.username', 'currency', 'donor.firstName', 'campaign.name', 'amount']"
           [(selection)]="selectedDonations" [rowHover]="true" dataKey="id"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h2 class="p-m-0">{{'DONATION.MANAGE' | translate}}</h2>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th style="text-align: center" pSortableColumn="amount">{{'DONATION.AMOUNT' | translate}} <p-sortIcon field="amount"></p-sortIcon></th>
        <th style="text-align: center" pSortableColumn="approveDate">{{'DONATION.APPROVEDATE' | translate}} <p-sortIcon field="approveDate"></p-sortIcon></th>
        <th style="text-align: center" pSortableColumn="approved">{{'DONATION.APPROVED' | translate}} <p-sortIcon field="approved"></p-sortIcon></th>
        <th style="text-align: center" pSortableColumn="createdDate">{{'DONATION.CREATEDDATE' | translate}} <p-sortIcon field="createdDate"></p-sortIcon></th>
        <th style="text-align: center" pSortableColumn="currency">{{'DONATION.CURRENCY' | translate}} <p-sortIcon field="currency"></p-sortIcon></th>
        <th style="text-align: center" pSortableColumn="notes">{{'DONATION.NOTES' | translate}}</th>
        <th style="text-align: center" pSortableColumn="approvedBy">{{'DONATION.APPROVEDBY' | translate}} <p-sortIcon field="approvedBy"></p-sortIcon></th>
        <th style="text-align: center" pSortableColumn="campaign">{{'DONATION.CAMPAIGN' | translate}} <p-sortIcon field="campaign"></p-sortIcon></th>
        <th style="text-align: center" pSortableColumn="createdBy">{{'DONATION.CREATEDBY' | translate}} <p-sortIcon field="createdBy"></p-sortIcon></th>
        <th style="text-align: center" pSortableColumn="donor">{{'DONATION.DONOR' | translate}} <p-sortIcon field="donor"></p-sortIcon></th>
        <th></th>
      </tr>
    </ng-template>
    <!--    <ng-container *ngFor="let campaign of campaignList">-->
    <ng-template pTemplate="body" let-donation>
      <tr>
        <td>
          <p-tableCheckbox [value]="donation"></p-tableCheckbox>
        </td>
        <td style="text-align: center">{{donation.amount}}</td>
        <td style="text-align: center">{{donation.approveDate}}</td>
        <td style="text-align: center">
          <ng-container *ngIf="donation.approved; else failedIcon">
            <i class="pi pi-check-circle green-icon"></i>
          </ng-container>
          <ng-template #failedIcon>
            <i class="pi pi-times-circle red-icon"></i>
          </ng-template>
        </td>
        <td style="text-align: center">{{donation.createdDate}}</td>
        <td style="text-align: center">{{donation.currency}}</td>
        <td style="text-align: center">{{donation.notes}}</td>
        <td style="text-align: center">{{donation.approvedBy?.username}}</td>
        <td style="text-align: center">{{donation.campaign.name}}</td>
        <td style="text-align: center">{{donation.createdBy.username}}</td>
        <td style="text-align: center">{{donation.donor.firstName}} {{donation.donor.lastName}}</td>
        <td>
          <button pTooltip="{{'DONATION.EDIT' | translate}}" [showDelay]="500"  tooltipPosition="bottom" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" [disabled]="donation.approved" (click)="openEdit(donation)"></button>
          &nbsp;
          <button pTooltip="{{'DONATION.DELETE' | translate}}" [showDelay]="500"  tooltipPosition="bottom" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" [disabled]="donation.approved" (click)="deleteDonation(donation)"></button>
          &nbsp;
          <button pTooltip="{{'DONATION.APPROVE' | translate}}" [showDelay]="500"  tooltipPosition="bottom" pButton pRipple icon="pi pi-check-circle" class="p-button-rounded p-button-help" [disabled]="donation.approved" (click)="approveDonation(donation)"></button>
        </td>
      </tr>
    </ng-template>
    <!--    </ng-container>-->
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        {{'DONATION.TOTAL' | translate}} {{donation ? donationList.length : 0 }}  {{'DONATION.DONATIONS' | translate}}.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog [draggable]="false" [(visible)]="donationDialog" [style]="{width: '450px'}" header="Donation Details" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="amount">{{'DONATION.AMOUNT' | translate}}</label>
      <input type="text" pInputText id="amount" [(ngModel)]="donation.amount" required autofocus />
      <small class="p-invalid" *ngIf="submitted && !donation.amount">Amount is required!</small>
    </div>

    <div class="card flex justify-content-center">
      <label for="currency">{{'DONATION.CURRENCY' | translate}}</label>
      <p-dropdown [options]="currencies" [(ngModel)]="selectedCurrency" id="currency" optionLabel="name" [filter]="true" appendTo="body" filterBy="name" [showClear]="true" placeholder="Select a currency">
        <ng-template pTemplate="selectedItem">
          <div class="flex align-items-center gap-2" *ngIf="selectedCurrency">
            <div>{{ selectedCurrency.name }}</div>
          </div>
        </ng-template>
        <ng-template let-currency pTemplate="item">
          <div class="flex align-items-center gap-2">
            <div>{{ currency.name }}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>

    <div class="p-field">
      <label for="notes">{{'DONATION.NOTES' | translate}}</label>
      <input type="text" pInputText id="notes" [(ngModel)]="donation.notes"/>
    </div>

    <div class="card flex justify-content-center">
      <label for="campaign">{{'DONATION.CAMPAIGN' | translate}}</label>
      <p-dropdown [options]="allCampaigns" [(ngModel)]="selectedCampaign" id="campaign" optionLabel="name" [filter]="true" appendTo="body" filterBy="name" [showClear]="true" placeholder="Select a campaign">
        <ng-template pTemplate="selectedItem">
          <div class="flex align-items-center gap-2" *ngIf="selectedCampaign">
            <div>{{ selectedCampaign.name }}</div>
          </div>
        </ng-template>
        <ng-template let-campaign pTemplate="item">
          <div class="flex align-items-center gap-2">
            <div>{{ campaign.name }}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>

    <div class="card flex justify-content-center">
      <label for="donor">{{'DONATION.DONOR' | translate}}</label>
      <p-dropdown [options]="allDonors" [(ngModel)]="selectedDonor" id="donor" optionLabel="firstName" [filter]="true" appendTo="body" filterBy="firstName" [showClear]="true" placeholder="Select a donor">
        <ng-template pTemplate="selectedItem">
          <div class="flex align-items-center gap-2" *ngIf="selectedDonor">
            <div>{{ selectedDonor.firstName }} {{selectedDonor.lastName}}</div>
          </div>
        </ng-template>
        <ng-template let-donor pTemplate="item">
          <div class="flex align-items-center gap-2">
            <div>{{donor.firstName}} {{donor.lastName}}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>

    <small style="color: red" class="p-invalid"  *ngIf="submitted ">{{errorMessage}}</small>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
<!--    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" [disabled]="!donation.amount || !donation.currency" (click)="saveDonation()"></button>-->
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" [disabled]="!donation.amount || !selectedCurrency || !selectedCampaign || !selectedDonor" (click)="saveDonation()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>


<p-dialog [draggable]="false" [(visible)]="updateDonationDialog" [style]="{width: '450px'}" header="Donation Details" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content1">
    <div class="p-field">
      <label for="amount">{{'DONATION.AMOUNT' | translate}}</label>
      <input type="text" pInputText id="updatedAmount" [(ngModel)]="donation.amount" required autofocus />
      <small class="p-invalid" *ngIf="submitted && !donation.amount">Amount is required!</small>
    </div>

    <div class="card flex justify-content-center">
      <label for="currency">{{'DONATION.CURRENCY' | translate}}</label>
      <p-dropdown [options]="currencies" [(ngModel)]="selectedCurrency" id="updatedCurrency" optionLabel="name" [filter]="true" appendTo="body" filterBy="name" [showClear]="true" placeholder="Select a currency">
        <ng-template pTemplate="selectedItem">
          <div class="flex align-items-center gap-2" *ngIf="selectedCurrency">
            <div>{{ selectedCurrency.name }}</div>
          </div>
        </ng-template>
        <ng-template let-currency pTemplate="item">
          <div class="flex align-items-center gap-2">
            <div>{{ currency.name }}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>

    <div class="p-field">
      <label for="notes">{{'DONATION.NOTES' | translate}}</label>
      <input type="text" pInputText id="updatedNotes" [(ngModel)]="donation.notes" />
    </div>

    <div class="card flex justify-content-center">
      <label for="campaign">{{'DONATION.CAMPAIGN' | translate}}</label>
      <p-dropdown [options]="allCampaigns" [(ngModel)]="selectedCampaign" id="updatedCampaign" optionLabel="name" [filter]="true" appendTo="body" filterBy="name" [showClear]="true" placeholder="Select a campaign">
        <ng-template pTemplate="selectedItem">
          <div class="flex align-items-center gap-2" *ngIf="selectedCampaign">
            <div>{{ selectedCampaign.name }}</div>
          </div>
        </ng-template>
        <ng-template let-campaign pTemplate="item">
          <div class="flex align-items-center gap-2">
            <div>{{ campaign.name }}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>

    <div class="card flex justify-content-center">
      <label for="donor">{{'DONATION.DONOR' | translate}}</label>
      <p-dropdown [options]="allDonors" [(ngModel)]="selectedDonor" id="updatedDonor" optionLabel="firstName" [filter]="true" appendTo="body" filterBy="firstName" [showClear]="true" placeholder="Select a donor">
        <ng-template pTemplate="selectedItem">
          <div class="flex align-items-center gap-2" *ngIf="selectedDonor">
            <div>{{ selectedDonor.firstName }} {{selectedDonor.lastName}}</div>
          </div>
        </ng-template>
        <ng-template let-donor pTemplate="item">
          <div class="flex align-items-center gap-2">
            <div>{{donor.firstName}} {{donor.lastName}}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>

    <small style="color: red" class="p-invalid"  *ngIf="submitted ">{{errorMessage}}</small>

  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save changes" icon="pi pi-check" class="p-button-text" [disabled]="!donation.amount || !donation.currency" (click)="editDonation()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
